<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
	<meta charset="UTF-8">
	<title>Perfect Body</title>
	<link rel="stylesheet" type="text/css" href="{% static "css/structure.css" %}">
</head>
<header>
	<div class="header_wrapper">	
		<img src="{% static "images/logo.png" %} ">
		<img src="{% static "images/logo_text.png" %} ">
		<p>Hello, {{ user.name }} &#9786;</p>
		<a href="/logout">Logout</a>
		<img src="{% static "images/logo.png" %}">
	</div>
</header>
<body>
	<div class="wrapper">	
		<dl class="all">
			<dt class="title profile">	
				<h2>Profile</h2>
			</dt>

			<dd class="main_profile">
				<form method="POST" action="">
					{% csrf_token %}
					<label>
						Name: 
						<input type="text" name="name" value="{{ name }}">
					</label>
					<label>
						Password: 
						<input type="password" name="password">
					</label>		
					<label>
						New password:
						<input type="password" name="new_password">
					</label>
					<label>
						Gender (M or F):
						<input type="text" name="gender" value="{{ gender }}">
					</label>
					<label>
						Years:
						<input type="number" name="years" value="{{ years }}">
					</label>
					<label>
						Weight:
						<input type="number" name="weight" value="{{ weight }}">
					</label>
					<label>
						Height:
						<input type="number" name="height" value="{{ height }}">
					</label>
					<label>
						BMI:
						<input type="number" name="BMI" value="{{ BMI }}">
					</label>
					<label>
						Max caloris:
						<input type="number" name="max_cal" value="{{ max_cal }}">
					</label>
					<input type="submit" value="Save Changes">
				</form>
			</dd>


			<dt class="title shop">	
				<h2>Shop</h2>
			</dt>

			<dd class="main_shop">
 				<h2>Search your favorite supermarket</h2>
 				<p>(exp: billa near Mladost, Sofia, Bulgaria)</p>
 				<input id="pac-input" class="controls" type="text" placeholder="Search Box">
 				<div id="map"></div>
			</dd>

			<dt class="title menu">	
				<h2>Menu</h2>
			</dt>

			<dd class="main_menu">
				<div class="breakfast">
					<h2>Breakfast</h2>
					<form method="POST" action="">
						{% csrf_token %}
						<label>
							<input type="radio" value="first" name="breakfast">
							bla
						</label>
						<label>
							<input type="radio" value="first" name="breakfast">
							bla
						</label>
						<label>
							<input type="radio" value="first" name="breakfast">
							bla
						</label>
					</form>
				</div>
				<div class="lunch">
					<h2>Lunch</h2>
					<form method="POST" action="">
					{% csrf_token %}
						<label>
							<input type="radio" value="first" name="lunch">
							bla
						</label>
						<label>
							<input type="radio" value="first" name="lunch">
							bla
						</label>
						<label>
							<input type="radio" value="first" name="lunch">
							bla
						</label>
					</form>
				</div>
				<div class="dinner">
					<form method="POST" action="">
					{% csrf_token %}
						<h2>Dinner</h2>
						<label>
							<input type="radio" value="first" name="dinner">
							bla
						</label>
						<label>
							<input type="radio" value="first" name="dinner">
							bla
						</label>
						<label>
							<input type="radio" value="first" name="dinner">
							bla
						</label>
					</form>
				</div>
			</dd>

			<dt class="title history">
				<h2>History</h2>	
			</dt>

			<dd class="main_history">
				tuk e istoriqta
			</dd>
		</dl>
	

		<div class="line">	

		</div>
	</div>

</body>
<script src="{% static "js/jquery-2.2.0.min.js" %}"></script>
<script src="{% static "js/main.js" %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&callback=initAutocomplete"></script>
</html>