* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: "Myriad Pro";
	font-size: 18px;
	color: #b46348;
}


header {
	height: 230px;
	background: #eccdae;
	border-bottom: 3px solid #b46348;
}

		.header_wrapper {
			position: relative;
			max-width: 900px;
			margin: 0 auto;
		}

			.header_wrapper	img {
				height: 227px;
			}

				.header_wrapper	img:first-child {
					position: absolute;
					left: 9%;
					max-width: 100px;
				}

				.header_wrapper img:nth-child(2){
					position: absolute;
					left: 33%;
					top: 19px;
					width: 31%;
					height: 50px;
				}


				.header_wrapper	img:last-child {
					position: absolute;
					right: 9%;
					top: 0;
					max-width: 100px;
				}

				.header_wrapper a:active,
				.header_wrapper a:hover, 
				.header_wrapper a:link,
				.header_wrapper a {
					position: absolute;
					color: #b46348;
					text-decoration: none;
					background-color: #eccdae;
					border: 1px solid #b46348;
					border-radius: 5px; 
					padding: 5px;
					top: 150px;
					left: 45%;
				}

				.header_wrapper p {
					position: absolute;
					left: 41%;
					top: 115px;
					font-size: 25px;
					font-style: italic;
				}

			.header_wrapper form {
				position: absolute;
				left: 32%;
				top: 101px;
			}

				.header_wrapper label {
					display: block;
					margin-bottom: 10px;
				}

					.header_wrapper label input {
						background: rgb(236, 218, 180);
						opacity: 0.3;
					}

					.header_wrapper label input:focus {
						background: rgb(236, 218, 196);
						opacity: 1;
						color: #b46348;
					}

					input[type=submit] {
						background: #eccdae;
						color: #b46348;
						font-size: 15px;
						border: 1px solid #b46348;
						border-radius: 10px;
						width: 30%;
						height: 30px;
					}
						
.wrapper {
	position: relative;
	max-width: 768px;
	margin: 30px auto;
}

	.title {
		width: 90%;
		height: 50px;
		background: #eccdae;
		border-top: 1px solid #b46348;
		border-left: 1px solid #b46348;
		border-right: 1px solid #b46348;
		margin: 0 auto;
		cursor: pointer;
	}

		.all dd {
			width: 85%;
			margin: 10px auto;
		}

		.all .title:last-child {
			border-bottom: 1px solid #b46348;
			border-bottom-right-radius: 10px;
			border-bottom-left-radius: 10px;
		}

		.all .title:first-child {
			border-top-right-radius: 10px;
			border-top-left-radius: 10px;
		}
		
		.title h2 {
			text-transform: uppercase;
			text-align: center;
			margin-top: 12px;
		}

.hide {
	display: none;
}

.main_profile {
	width: 75%;
	margin: 15px auto;
}

	.main_profile form {
		display: inline-block;
		margin-left: 3%;
	}
	

	.main_profile input {
		display: block;
		margin-bottom: 10px;
	}

	.main_profile p {
		display: block;
	}

		.bmi {
			position: absolute;
		    top: 67px;
		    right: 18%;
		}


.main_shop {
	width: 100%;
}

	.main_shop select {
		display: inline;
		width: 20%;
		margin: 15px auto;
	}

	.main_shop label {
		display: block;
	}

	.main_shop	iframe {
		margin-bottom: 15px;
	}

	.main_shop p {
		display: inline;
	}

		.main_shop input[type=select]{
			display: inline;
		}


.main_menu {
	width: 80%;
	margin: 0 auto;
}
	.main_menu .breakfast {
		margin-left: 2%;
	}
	
	.main_menu .breakfast,
	.main_menu .lunch,
	.main_menu .dinner {
		display: inline-block;
		width: 30%;
		height: 100%;
	}

	.main_menu label {
		display: block;
	}

	.main_menu input {
		margin-top: 5px;
		display: inline;
	}

.regestration {
	width: 100%;
	margin: 30px auto;
}

	.regestration h2 {
		width: 100px;
		font-size: 20px;
		margin: 0 auto;
	}

	.regestration form {
		width: 40%;
		margin: 0 auto;
	}

		.regestration form label {
			display: block;
			margin-top: 24px;
		}

		.regestration form input[type=text],
		.regestration form input[type=email] {
			display: inline;
			width: 100%;
		}

		.regestration form input[type=submit] {
			display: block;
			width: 100%;
			margin-top: 24px;
		}


		.regestration form input[type=radio] {
			display: inline;		
		}

		.regestration form input[type=password] {
			width: 100%;
			display: inline;		
		}

		.regestration form input[type=number] {
			width: 100%;
			display: inline;		
		}


#map {
	height: 300px;
	margin-top: 10px;
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#target {
    width: 345px;
}